[submodule "atomics/payloads"]
	path = atomics/payloads
	url = https://github.com/tr4cefl0w/payloads.git
[submodule "atomics/T1547.002/src/payloads"]
	path = atomics/T1547.002/src/payloads
	url = https://github.com/tr4cefl0w/payloads.git
