<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Atomic Red Team T1165</string>
		<key>enabled</key>
		<true/>
		<key>eventTypes</key>
		<array>
			<string>startup</string>
		</array>
		<key>actions</key>
		<array>
			<dict>
				<key>command</key>
				<string>/bin/sleep</string>
				<key>user</key>
				<string>root</string>
				<key>arguments</key>
				<array>
					<string>30</string>
				</array>
				<key>type</key>
				<string>RunCommand</string>
			</dict>
			<dict>
				<key>command</key>
				<string>/usr/bin/say</string>
				<key>user</key>
				<string>root</string>
				<key>arguments</key>
				<array>
					<string>-v</string>					
					<string>Karen</string>
					<string>Hello from Atomic Red Team technique T1165</string>
				</array>
				<key>type</key>
				<string>RunCommand</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
