---
---

//$header-bg-color-secondary: #CE232E;
$header-bg-color-secondary: #CE232E;
$header-bg-color: #d6757c;

$section-headings-color: #CE232E;

@import "{{ site.theme }}";

html {
  font-size: 14px;
}

.btn.btn-roll-the-dice {
  font-size: 2em;
  color: white;
  background: #CE232E;
  padding: 10px 50px;
  margin: 0 auto;
}

table#roll-the-dice th {
  vertical-align: top;
}